.panelname{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
}

.orderlist{
    display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 27px;
  border: 1px solid #ddd;
  font-family: Montserrat;
  background-color: white;
  border-radius: 9px;
  font-size: 20px;
}

.conteineradmin{
    width: 100%;
  max-width: 1519px;
  background-color: #D9D9D9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.item2{
    position: absolute;
    left: 690px;
}

.item1{
    position: absolute;
    left: 210px;
}

.item3{
    position: absolute;
    left: 1130px;
}

.item4{
    position: absolute;
    left: 1500px;

    font-size: 15px;

    background-color: darkred;
    font-family: Montserrat;
    color: #fff;
    border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  height: 30px;
}

.block{
    position: relative;
    right: 50px;
}

.item4:hover{
    opacity: 0.7;
}

.item4:active{
    background-color: #2B2929;
}