<hr class="footorhr">
<footer class="footer1">
    <ul class="ulfooter1">
        <li><a href="#">Личный кабинет</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Корзина</a></li>

    </ul>

    <ul class="ulfooter2">
        <li><a href="#">Адрес:</a></li>
        <li><a href="#">Республика Алтай, с. Усть-Муны, Майминский район, <br><br> Светлый переулок, 2 </a></li>

    </ul>

    <ul class="ulfooter3">
        <li>телефон доставки:</li>
        <li><a href="tel:+7 (902) 565-36-77">89025653677</a></li>

    </ul>

</footer>
<div id="scrollStopper"></div>