{% extends "base.html" %}

{% block head  %}
<title>Номера</title>
<link rel="stylesheet" href="{{ url_for('static', filename='hotels.css') }}">
<script src="{{ url_for('static', filename='hotels.js') }}" defer></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" />
{% endblock %}

{% block content %}
<main>
<p class="tegintop"><ins>Номера</ins></p>
<section class="section1">
    <p style="font-size: 20px;">Коттедж "А"</p>
    <p>Номер 1</p>
    <p>Номер 2</p>
</section>
<p class="maintextss">Добро пожаловать в наши уютные номера! <br>
Отдыхайте в комфорте среди захватывающей красоты Алтая! <br>
Гостям предлагается выбрать один из двух коттеджей с номерами различных категорий. Мы гарантируем, 
что вне <br> зависимости от выбранного номера, вас ожидает все необходимое для комфортного проживания и наслаждения <br> неповторимыми видами Алтайской природы. <br> 
На территории турбазы есть баня и мангальная зона, где вы сможете насладиться парными процедурами в и провести <br> время на свежем воздухе, готовя шашлык.
</p>
<div class="hotelmain">
    <div class="hotelm">
        <div class="hotelkartochka1">
            <a href="/indhotel"><img src="{{ url_for('static', filename='/images/image 4.jpg') }}"></a>
            <div class="namehotel"><p class="namehoteltext">СТАНДАРТ с одной широкой кроватью</p></div>
    
        </div>
    </div>
    <div class="hotelm">
    <div class="hotelkartochka2">
        <a href="/indhotel"><img src="{{ url_for('static', filename='/images/image 4.jpg') }}"></a>
        <div class="namehotel"><p class="namehoteltext">СТАНДАРТ с двумя кроватями</p></div>
    </div>
</div>
</div>
</main>
{% endblock %}