{% extends "base.html" %}

{% block head  %}
<title>Личный кабинет</title>
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
<script src="{{ url_for('static', filename='user.js') }}" defer></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" />
{% endblock %}

{% block content %}
<h2>Личный кабинет</h2>
<div class="buttons">
    <ul class="button-list">
      <li class="libutton"><button class="edit" id="open-modal-btn">Изменить</button></li>
      <li class="libutton"><button class="exit" onclick="logout()">Выйти</button></li>
    </ul>
  </div>
<div class="surname"><p>{{ user.Surname }}</p></div>
<div class="name"><p>{{ user.Name }}</p></div>
<div class="number">Телефон:<p>{{ user.Phone }}</p></div>
<div class="email">Email:<p>{{ user.Email }}</p></div>
<h2>История заказов</h2>
<div class="history">
    <div class="tablename">
        <ul>
            <li class="li1">Номер заказа</li>
            <li class="li2">Статус</li>
            <li class="li3">Дата</li>
            <li class="li4">Сумма заказа</li>
        </ul>
    </div>
    {% for el in orders %}
    <div class="orderlist">
        <p class="item1">{{ el.code }}</p>
        <p class="item5">{{ el.status }}</p>
          <p class="item2">{{ el.date }}</p>
          <p class="item3">{{ el.price }}</p>
    </div>
     {% endfor %}
</div>

<br>
<br>
<br>


<!-- Модальное окно для изменения личных данных -->
<div class="modal" id="my-modal">
  <div class="modal__box">
      <button class="modal__close-btn" id="close-my-modal-btn">
          <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                  fill="#333333" />
              <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
          </svg>
      </button>
      <h2 class="title-modal">Изменение данных</h2>
      <form class="edit-window">
        <div>
          <p class="t1">Фамилия <input class="i1" type="text" value="{{ user.Surname }}"></p>
        </div>
        <div><p class="t2">Имя <input class="i2" type="text" value="{{ user.Name }}"></p></div>
        <div><p class="t3">Телефон <input  class="i3" type="tel" value="{{ user.Phone }}"></p></div>
        <div><p class="t4">Email <input class="i4" type="email" value="{{ user.Email }}"></p></div>
      </form>


     
     <button class="btn-save" id="saveButton">Сохранить</button>
  </div>
</div>

{% endblock %}